*.log
.awcache

.DS_Store
build
out
node_modules
certificatetest
*.vsix
npm-debug.log.*
package-lock.json
coverage/
.nyc_output
*.new

**/junit-report*.xml
test-results/
pages-dist/*
!pages-dist/.gitkeep

lib/sales/X3/
debug/
tmp-meta/
csvs/
logs/*
.idea
logs/
